.App {
	.parent_register {
		.container-fluid {
			display: grid;
			place-items: center;
			min-height: 100vh;
			background-color: rgb(1, 21, 22);
		}
		small {
			display: block;
			width: 100vw;
			color: white;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.parent_login {
		.container-fluid {
			display: grid;
			place-items: center;
			min-height: 100vh;
			background-color: rgb(133, 149, 173);
		}
		small {
			display: block;
			width: 100vw;
			color: white;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.home_parent {
		display: grid;
		min-height: 100vh;
		place-items: center;
		background-color: rgba(3, 3, 37, 0.507);
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.parent_new_pwd {
		display: grid;
		place-items: center;
		min-height: 100vh;
		background-color: rgba(2, 26, 2, 0.63);
		small {
			display: block;
			width: 100%;
			color: white;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.parent_forgot {
		display: grid;
		place-items: center;
		min-height: 100vh;
		background-color: rgb(72, 73, 5);
	}
	.parent-activate {
		min-height: 100vh;
		display: grid;
		place-items: center;
		background-color: rgb(162, 0, 255);
		button {
			padding: 2rem 5rem;
			font-size: 2.4rem;
			background-color: mediumseagreen;
			color: white;
			border: none;
			border-radius: 1rem;
			a {
				text-decoration: none;
				color: inherit;
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}
	.parent-chat {
		.top {
			background-color: #aaf;
			color: white;
			box-shadow: 0 0 2rem -1rem black;
			nav {
				padding: 0.2rem 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				h4 {
					text-transform: capitalize;
				}
				ul {
					display: flex;
					justify-content: space-between;
					list-style-type: none;
					li {
						border-radius: 1rem;
						font-size: 1.2rem;
						margin-top: 0.5rem;
						padding: 0.5rem 1rem;
						user-select: none;
						&:hover {
							background-color: white;
							color: #aaf;
							cursor: pointer;
						}
						&:active {
							box-shadow: 0px 0px 1rem -0.25rem black;
						}
					}
				}
			}
		}
		.choose {
			margin-top: 1rem;
			box-shadow: 0 0 2rem -1rem #aff;
			& > div {
				height: 85vh;
				border-radius: 10px;
				overflow: hidden;
			}
			.col-4 {
				// background-color: lightcoral;
				header {
					border-radius: 5px;
					background-color: whitesmoke;
					nav {
						align-items: center;
						.link {
							margin-top: 0.3rem;
							text-align: center;
							padding: 0.5rem 0px;
							& + .link {
								border-left: 1px solid rgb(71, 118, 150);
							}
							&:hover,
							&.active {
								background-color: rgb(71, 118, 150);
								color: white;
								cursor: pointer;
								border-radius: 4px;
							}
						}
					}
				}
			}
			.col-8 {
				background-color: whitesmoke;
			}
		}
	}
	.selected-parent {
		padding: 0px;
		header {
			position: absolute;
			background-color: rgb(187, 171, 206);
			top: 0px;
			right: 0px;
			left: 0px;
			padding: 0.5rem 3rem;
			h4 {
				font-size: 1.2rem;
				color: white;
			}
		}
		main {
			overflow-y: scroll;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				width: 2px;
				background-color: white;
			}
			&::-webkit-scrollbar-thumb {
				background: lightseagreen;
			}
			padding: 3rem 2rem;
			p {
				display: flex;
				font-size: medium;
				font-weight: 600;
				sup {
					display: block;
					filter: brightness(50%);
				}
				span {
					padding: 0.2rem 1rem;
					border-radius: 0.5rem;
					margin: 0.5rem 0;
				}
				&.left {
					flex-direction: row;
					justify-content: flex-start;
					text-align: left;
					span {
						background-color: rgb(133, 149, 173);
						color: white;
					}
					sup {
						color: rgb(133, 149, 173);
					}
				}
				&.middle {
					flex-direction: row;
					justify-content: center;
					text-align: center;
					span {
						color: black;
					}
				}
				&.right {
					justify-content: flex-end;
					text-align: right;
					span {
						background-color: rgba(17, 216, 17, 0.596);
						color: white;
					}
					sup {
						color: rgba(17, 216, 17, 0.596);
					}
				}
			}
		}
		footer {
			position: absolute;
			bottom: -15px;
			background-color: whitesmoke;
			z-index: 1;
		}
	}
	.category-parent {
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 2px;
			background-color: white;
		}
		&::-webkit-scrollbar-thumb {
			background: lightseagreen;
		}
		ul {
			padding: 1rem 0.5rem;
			list-style-type: none;
			li {
				.col-12 {
					cursor: pointer;
					padding: 0.5rem;
					margin: 0.5rem;
					font-size: 1.3rem;
					text-align: center;
					border-radius: 1rem;
					color: rgba(2, 23, 49, 0.562);
					background-color: white;
					&:hover {
						color: rgba(2, 23, 49, 0.562);
						background: linear-gradient(
							-135deg,
							rgba(0, 0, 0, 0.192),
							rgba(255, 255, 255, 0.438),
							rgba(255, 255, 255, 0.438),
							rgba(0, 0, 0, 0.192)
						);
						box-shadow: 0 0 2rem -1rem rgba(2, 23, 49, 0.562);
					}
					&:active {
						color: rgba(2, 23, 49, 0.562);
						background-color: white;
						box-shadow: 0 0 2rem -1rem rgba(2, 23, 49, 0.562);
					}
				}
				.active {
					color: white;
					background-color: rgba(2, 23, 49, 0.562);
				}
			}
		}
	}
	.loading {
		position: absolute;
		top: 2rem;
		right: 3rem;
	}
}
