.App .parent_register .container-fluid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #011516;
}

.App .parent_register small {
  display: block;
  width: 100vw;
  color: white;
}

.App .parent_register a {
  text-decoration: none;
  color: inherit;
}

.App .parent_login .container-fluid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #8595ad;
}

.App .parent_login small {
  display: block;
  width: 100vw;
  color: white;
}

.App .parent_login a {
  text-decoration: none;
  color: inherit;
}

.App .home_parent {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: rgba(3, 3, 37, 0.507);
}

.App .home_parent a {
  text-decoration: none;
  color: inherit;
}

.App .parent_new_pwd {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgba(2, 26, 2, 0.63);
}

.App .parent_new_pwd small {
  display: block;
  width: 100%;
  color: white;
}

.App .parent_new_pwd a {
  text-decoration: none;
  color: inherit;
}

.App .parent_forgot {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #484905;
}

.App .parent-activate {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #a200ff;
}

.App .parent-activate button {
  padding: 2rem 5rem;
  font-size: 2.4rem;
  background-color: mediumseagreen;
  color: white;
  border: none;
  border-radius: 1rem;
}

.App .parent-activate button a {
  text-decoration: none;
  color: inherit;
}

.App .parent-activate button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.App .parent-chat .top {
  background-color: #aaf;
  color: white;
  -webkit-box-shadow: 0 0 2rem -1rem black;
          box-shadow: 0 0 2rem -1rem black;
}

.App .parent-chat .top nav {
  padding: 0.2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .parent-chat .top nav h4 {
  text-transform: capitalize;
}

.App .parent-chat .top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.App .parent-chat .top nav ul li {
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.App .parent-chat .top nav ul li:hover {
  background-color: white;
  color: #aaf;
  cursor: pointer;
}

.App .parent-chat .top nav ul li:active {
  -webkit-box-shadow: 0px 0px 1rem -0.25rem black;
          box-shadow: 0px 0px 1rem -0.25rem black;
}

.App .parent-chat .choose {
  margin-top: 1rem;
  -webkit-box-shadow: 0 0 2rem -1rem #aff;
          box-shadow: 0 0 2rem -1rem #aff;
}

.App .parent-chat .choose > div {
  height: 85vh;
  border-radius: 10px;
  overflow: hidden;
}

.App .parent-chat .choose .col-4 header {
  border-radius: 5px;
  background-color: whitesmoke;
}

.App .parent-chat .choose .col-4 header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .parent-chat .choose .col-4 header nav .link {
  margin-top: 0.3rem;
  text-align: center;
  padding: 0.5rem 0px;
}

.App .parent-chat .choose .col-4 header nav .link + .link {
  border-left: 1px solid #477696;
}

.App .parent-chat .choose .col-4 header nav .link:hover, .App .parent-chat .choose .col-4 header nav .link.active {
  background-color: #477696;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.App .parent-chat .choose .col-8 {
  background-color: whitesmoke;
}

.App .selected-parent {
  padding: 0px;
}

.App .selected-parent header {
  position: absolute;
  background-color: #bbabce;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 0.5rem 3rem;
}

.App .selected-parent header h4 {
  font-size: 1.2rem;
  color: white;
}

.App .selected-parent main {
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 3rem 2rem;
}

.App .selected-parent main::-webkit-scrollbar {
  width: 2px;
  background-color: white;
}

.App .selected-parent main::-webkit-scrollbar-thumb {
  background: lightseagreen;
}

.App .selected-parent main p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: medium;
  font-weight: 600;
}

.App .selected-parent main p sup {
  display: block;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.App .selected-parent main p span {
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.App .selected-parent main p.left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.App .selected-parent main p.left span {
  background-color: #8595ad;
  color: white;
}

.App .selected-parent main p.left sup {
  color: #8595ad;
}

.App .selected-parent main p.middle {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.App .selected-parent main p.middle span {
  color: black;
}

.App .selected-parent main p.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.App .selected-parent main p.right span {
  background-color: rgba(17, 216, 17, 0.596);
  color: white;
}

.App .selected-parent main p.right sup {
  color: rgba(17, 216, 17, 0.596);
}

.App .selected-parent footer {
  position: absolute;
  bottom: -15px;
  background-color: whitesmoke;
  z-index: 1;
}

.App .category-parent {
  overflow-y: scroll;
  scrollbar-width: none;
}

.App .category-parent::-webkit-scrollbar {
  width: 2px;
  background-color: white;
}

.App .category-parent::-webkit-scrollbar-thumb {
  background: lightseagreen;
}

.App .category-parent ul {
  padding: 1rem 0.5rem;
  list-style-type: none;
}

.App .category-parent ul li .col-12 {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1rem;
  color: rgba(2, 23, 49, 0.562);
  background-color: white;
}

.App .category-parent ul li .col-12:hover {
  color: rgba(2, 23, 49, 0.562);
  background: linear-gradient(-135deg, rgba(0, 0, 0, 0.192), rgba(255, 255, 255, 0.438), rgba(255, 255, 255, 0.438), rgba(0, 0, 0, 0.192));
  -webkit-box-shadow: 0 0 2rem -1rem rgba(2, 23, 49, 0.562);
          box-shadow: 0 0 2rem -1rem rgba(2, 23, 49, 0.562);
}

.App .category-parent ul li .col-12:active {
  color: rgba(2, 23, 49, 0.562);
  background-color: white;
  -webkit-box-shadow: 0 0 2rem -1rem rgba(2, 23, 49, 0.562);
          box-shadow: 0 0 2rem -1rem rgba(2, 23, 49, 0.562);
}

.App .category-parent ul li .active {
  color: white;
  background-color: rgba(2, 23, 49, 0.562);
}

.App .loading {
  position: absolute;
  top: 2rem;
  right: 3rem;
}
/*# sourceMappingURL=App.css.map */